.App {
  text-align: center;
}

.btn {
  font-size: 15px;
  padding: 8px 20px;
  margin-right: 20px;
  border: 0;
  border-radius: 5px;
  color: white;
  background: rgb(164, 60, 60);
  cursor: pointer;
}
