.button {
  // margin: 50px 20px;
  font-size: 15px;
  padding: 8px;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(180, 159, 159);
  &:hover {
    background-color: rgb(159, 120, 120);
  }
}
