.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: sans-serif;
  width: 250px;
  height: 350px;
  border: 1px solid #3B5998;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.likeButton {
  background: unset;
  border: unset;
  outline: none;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}


.iconAdd {
  font-size: 25px;
  color: gray;
  transition: transform 0.3s;
}

.isIconAdd {
  font-size: 25px;
  color: rgba(231, 92, 92, 0.976);
  transform: scale(1.3);
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 10px 0 26px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemAvatar {
  height:  150px;
  max-width: 200px;
  margin-bottom: 25px;
}

.description {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 92px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.buttons {
  text-align: center;
  margin-top: 10%;
  box-sizing: border-box;
  padding: 24px;
  color: rgba(231, 92, 92, 0.978)
}

.card:hover {
  box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.5);

  .description {
    opacity: .3;
  }


}