.listContainer {
  margin: 50px auto;
  .list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 46px 32px;
  }
  .listTable {
    list-style: none;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // flex-wrap: wrap;
    gap: 46px 32px;
  }
}
