/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


.app__buttons {
  text-align: center;
  margin-top: 15%;
  box-sizing: border-box;
  padding: 24px;
}

main {
  display: flex;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

h2 {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

a {
  color: rgb(242, 237, 230);
  text-decoration: none;
}

.active {
  color: rgb(215, 181, 181);
}
