.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  color: white;
  &__body {
    width: 500px;
    max-height: 100%;
    margin: auto;
    margin-top: 10%;
    background: rgb(241, 87, 87);
    border-radius: 10px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
    background: rgb(244, 61, 61);
    border-radius: 10px;
  }
  &__headerClose {
    font-size: 40px;
    cursor: pointer;
  }
  &__main {
    margin: 0 30px;
  }
  &__footer {
    margin-top: 30px;
    padding-bottom: 30px;
  }
}