.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  width: 250px;
  height: 350px;
  border: 1px solid #3b5998;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  .isHeart {
    position: absolute;
    font-size: 27px;
    top: 10px;
    right: 10px;
    color: brown;
    cursor: pointer;
  }
  .heart {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 10px;
    color: gray;
    cursor: pointer;
  }
}

.h1 {
  font-size: 20px;
}

.img {
  height: 120px;
}

.btnPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceCard {
  margin-right: 20px;
}
