.formContainer {
  margin: 10px auto;
  padding: 10px 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(201, 232, 243);
  overflow: hidden;
}

.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    margin: 10px 0;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(201, 232, 243);
  }
  button {
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(201, 232, 243);
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: rgb(151, 218, 243);
    }
  }
}
