.button {
  font-size: 16px;
  padding: 8px;
  margin-right: 19px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(180, 159, 159);
  &:hover {
    background-color: rgb(159, 120, 120);
  }
}
