.container {
  max-width: 600px;
  margin: 20px auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  width: 250px;
  height: 350px;
  border: 1px solid #3b5998;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  .h3 {
    font-size: 18px;
  }
  .img {
    height: 150px;
  }
  .btnPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.priceCard {
  margin-right: 20px;
}
